$white: #fff;
$green: #95e1d3;
$red: #f38181;
$grey: #333;
$light-grey: #999;
$yellow: #fce38a;
$input-grey: #e7e7e7;
$input-lightgrey: #e5e5e5;

$mont: 'Montserrat', sans-serif;
$kaush: 'Kaushan Script', cursive;
$roboto: 'Roboto', sans-serif;