.products {
    display: inline-block;
    list-style: none;
    padding: 0 50px;
    margin: 0;
}

.item {
    padding: 4px;
}

.item+.item {
    border-top: 1px solid #212121;
}

.name,
.quantity {
    margin: 0;
    font-size: 20px;
}